@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .App {
    @apply h-screen font-sora text-13  text-black px-4 pb-4 md:px-12 bg-white
    overflow-x-hidden overflow-y-auto;
  }
  .btn-hover {
    @apply hover:text-purple-500 transition-all duration-200 cursor-pointer;
  }
  .error-message {
    @apply font-semibold text-red-500 mt-2;
  }
  .input-form {
    @apply w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600;
  }
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  overflow-x: hidden;
}
.ant-btn-primary {
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
